@CHARSET "UTF-8";
*{
margin: 0em;
padding: 0em;
}

div {
	margin: 1px;
	padding: 1px;
}
 td {
	border-right: 1px solid #355995;
	border-bottom: 1px solid #355995;
}

myTable {
	word-break: break-all;
	word-wrap: break-word;
	background-color: #355995;
	font-size: 12px;
	text-align: center;
}


/*各个实体编辑页面的Table排版使用*/
.myTable2 {
	word-break: break-all;
	word-wrap: break-word;
	background-color: #ffffff;
	border-collapse: collapse;
	border: 1px solid #355995;
	font-size: 12px;
	text-align: center;
}

.whiteBg {
	background-color: #ffffff;
	font-size: 12px;
	height: 22px;
	color: #000000;
	font-family: "宋体";
	clip: rect();
}

.tdtitle {
	text-align: center;
	height: 22;
	background-image: url(../img/table_bg2.gif);
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: "宋体";
	clip: rect();
}

.tdtitle2 {
	text-align: center;
	height: 22;
	background-image: url(../img/table_bg.gif);
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: "宋体";
	clip: rect();
}
