/* 
    Document   : shouye
    Created on : 2009-4-15, 23:41:48
    Author     : ruojun
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
/*body {
   border:1px;
   border-style:solid;
}*/
#left{
    width:30%;
    height:100%;
    float:left;
    border:1px;
   border-style:solid;

}
#center{
    width:69%;
    height:100%;
    float:right;
    border:1px;
   border-style:solid;
}
#right{
    
}

